<nav class="navbar navbar-default">
  <h5>SWEACA NUSERY</h5>
    <a [routerLink]="['/home']" class="btn btn-link"><i class="fa fa-home"></i>Home</a>
    <a [routerLink]="['']" class="btn btn-link"><i class="fa fa-contact"></i>Contact</a>
    <a [routerLink]="['/team']" class="btn btn-link">Team</a>
    <a [routerLink]="['']" class="btn btn-link">Log-out</a>
</nav><br><br>
<div class="container">
	<h3>Get in touch</h3>
		<form class="form-group" [formGroup] = "contactForm" (ngSubmit)="onSubmit(contactForm.value)">
		<p>First Name:<br>
			<input autofocus="true" class="form-control" type="text" name="username" formControlName="firstname" required>
		<p>
	 	<p>Last Name:<br>
	 		<input class="form-control" type="text" name="lastname" formControlName="lastname" required>
	 	</p>
	 	<p>Email:<br>
	 		<input class="form-control" type="email" name="email" formControlName="email" required>
	 	</p>
	 	<p>Mobile Number:<br>
	 		<input class="form-control" type="text" name="mobile-no" maxlength="10" minlength="10">
	 	</p>
	 	<p>
	 		<input type="submit" class="btn btn-primary" [disabled]="!contactForm.valid" value="Submit">
	 	</p>
	 </form>
</div>