<!--<nav class="navbar navbar-default">
  <h5>SWEACA NUSERY</h5>
    <a [routerLink]="['']" class="btn btn-link"><i class="fa fa-home"></i>Home</a>
    <a [routerLink]="['']" class="btn btn-link"><i class="fa fa-contact"></i>Contact</a>
    <a [routerLink]="['']" class="btn btn-link">Team</a>
	<a [routerLink]="['']" class="btn btn-link"><i class="fa fa-about"></i>About</a>

     <a [routerLink]="['']" class="btn btn-link">Log-In</a> -->
	<!-- <a [routerLink]="['']" class="btn btn-link">Register</a>     
    <h6>Hi {{currentUser.username}}!</h6> 
</nav>-->
<router-outlet></router-outlet>
