<!-- <nav class="navbar navbar-default">
  <h5>SWEACA NUSERY</h5>
    <a [routerLink]="['']" class="btn btn-link"><i class="fa fa-home"></i>Home</a>
    <a [routerLink]="['/contact']" class="btn btn-link"><i class="fa fa-contact"></i>Contact</a>
    <a [routerLink]="['/team']" class="btn btn-link">Team</a>
</nav> --><br>
<div class="row card1">
  <div class="column">
    <img [src]="'assets/images/founder.jpg'" alt="Tamil" height="500" width="500"><br>
    <div class="container">
      <h2 style="text-align: center;">Tamillharsan Chandran</h2>
      <p class="title">CEO &amp; Founder</p>
      <p class="title">tamil@meikaan.in</p>
    </div>
  </div>
</div><br>  
<div class="row card2">
  <div class="column">
    <img [src]="'assets/images/back.jpg'" alt="Monika" height="500" width="500"><br>
      <h2 style="text-align: center;">Monika Vattigunta</h2>
      <p class="title">Back-End Developer</p>
      <p class="title">monika@vattigunta.in</p>
  </div>
</div><br>
<div class="row card3">
  <div class="column">
    <img [src]="'assets/images/front.jpeg'" alt="Jitesh" height="500" width="500"><br>
      <div class="container">
        <h2 style="text-align: center;">Jitesh Singh</h2>
        <p class="title">Front-End Developer</p>
        <p class="title">jitesh.singh@meikaa.in</p>
    </div>
  </div>
</div><br>